*{
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 150px;
    background-color: #fb6d6c;
}
main{
    height: 1000px;
}
#section-1{
    width: 100px;
    height: 100px;
    background-color: mediumturquoise;
    border-width: 1px;
    border-style: solid;
    border-color: navy;
     
}

#section-2{
    width: 100px;
    height: 100px;
    background-color: mediumturquoise;
    /* border-width: 1px;
    border-style: solid; */
    border-bottom: 3px solid red;
}

#section-3{
    width: 97px;
    height: 97px;
    border: 3px solid tomato;
    margin-top: 10px;
    border-radius: 50%;
}

#section-4{
    width: 100px;
    height: 100px;
    border: 3px solid darkgreen;
    margin-top: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
/* BORDE DEL BORDE - OUTLINE */
#section-5{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 10px 0px 0px 30px; */
    background-color: darkgrey;
    border: 3px solid saddlebrown;
    outline: 3px solid teal;
    outline-offset: 10px;
}

#section-6{
    margin-top: 100px;
}

#section-6 input{
    border: 0;
    outline: 0;
    border-bottom: 3px solid tomato;
    background-color: #fedbd4;
    padding: 12px 20px;
    border-radius: 15px;
}