*{
    margin: 0;
    box-sizing: border-box;
}

div{
    margin: 80px auto;
    height: 100px;
    width: 100px;
    background-color: #dddddd;
}

#div-1{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

#div-1:hover{
    transform: scale(1.3, 1.3);
    border-radius: 20px;

}

#div-2{
    background-color: red;
    transition: all 1s ease 0s;
}
#div-2:hover{
    background-color: blue;
    transform: rotate(90deg);
}

#div-3{
    background-image: url('https://placekitten.com/200/300');
    background-size: cover;
    transition: all, 0.5s, ease 0s;
}

#div-3:hover{
    filter: grayscale(0.5);
}