* {
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: teal;
  color: whitesmoke;
}

#caja-1{
  width: 140px;
  height: 50px;
  float: left;
  /* margin: 5px; */
  background-color: tomato;
}

#caja-2{
  width: 140px;
  height: 50px;
  float: left;
  /* margin: 5px; */
  background-color: tomato;
}
#caja-3{
  width: 140px;
  height: 50px;
  float: left;
  /* margin: 5px; */
  background-color: tomato;
}
#caja-4{
  width: 140px;
  height: 50px;
  float: left;
  /* margin: 5px; */
  background-color: tomato;
}

#contenedor{
  background-color: tan;
  width: 600px;
}

.fix{
  clear: both;
}

#navegacion{
  background-color: crimson;
  color: white;
  /* text-align: center; */
}

.navegacion-wraper{
  margin: 0 auto;
  width: 300px;

}

.opcion-1, .opcion-2, .opcion-3{
  background-color: indigo;
  width: 100px;
  float: left;
  text-align: center;
  border: 1px solid yellow;
  padding: 10px;
}



